<head>
  <meta charset="UTF-8">
  <title>Public Quizzes</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Public Quizzes</h1>
  <p>Click any of the quizzes that other users publicly shared to take it!</p>
  <ul>
  <% quizzes.forEach(quiz => { %>
      <div>
        <a href="/quiz-info/<%= quiz.id %>"><%= quiz.title %></a>
          <p><%= quiz.quiz_description %></p>
      </div>
  <% }); %>
  </ul>
</body>
</html>

