<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Public Quizzes</title>
</head>
<body>
    <h1>Public Quizzes</h1>
    <% quizzes.forEach(quiz => { %>
        <div>
            <h2><%= quiz.title %></h2>
            <p><%= quiz.quiz_description %></p>
        </div>
    <% }); %>
</body>
</html>

