<head>
  <meta charset="UTF-8">
  <title>Public Quizzes</title>
</head>
<body>
  <h1>Public Quizzes</h1>
  <ul>
  <% quizzes.forEach(quiz => { %>
      <div>
        <a href="/quiz/<%= quiz.id %>"><%= quiz.title %></a>
          <p><%= quiz.quiz_description %></p>
      </div>
  <% }); %>
  </ul>
</body>
</html>

