<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Users</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/quizzes.js"></script>
  </head>

  <body>
    <h1>Create New Quiz</h1>
    <form action="/quizzes" method="POST">
      <label for="title">Title:</label><br />
      <input type="text" id="title" name="title" value="Title" /><br />
      <label for="description">Description</label><br />
      <input
        type="text"
        id="description"
        name="description"
        value="Description"
      /><br /><br />
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </body>
</html>
