<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create New Quiz</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:wght@300;600&display=swap" rel="stylesheet" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/routes/"></script>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/c28a04e72f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <div class="create-quiz-cont"></div>
      <button id="create-quiz">Create New Quiz</h1>
    </div>

    <!-- Display Quiz Form -->
    <div id="quiz-cont">
      <div class="quiz-list-cont"></div>
    </div>

    <!-- Input Form  -->
    <div class="quiz-cont hide" id="add-quiz">
      <h2>Create Quiz</h2>

      <!-- Error Message -->
      <div class="error-cont">
        <span class="hide" id="error">Input Fields Cannot Be Empty!</span>
           <!-- Close Button -->
      <i class="fa-solid fa-xmark"></i>
      </div>

      <form action="/quizzes" method="POST">
      <label for="title">Title:</label><br />
      <input class="input" type="text" id="title" name="title" placeholder="Type title here" required /><br />

      <label for="description">Description</label><br />
      <textarea
        class="input"
        type="text"
        id="description"
        name="description"
        value="Description"
        placeholder="Type description here"
        rows="2"
        required
      ></textarea>
      <br />

      <label for="question">Question</label><br />
      <textarea
        class="input"
        type="text"
        id="question"
        name="question"
        value="Question"
        rows="2"
        placeholder="Type the question here"
        required
      ></textarea>
      <br /><br />

      <!-- Q&A Input Form -->
      <p>Type Answers Here:</p>

      <input type="radio" class="radio-btn" id="option-a" name="option" value="Option A">
      <input class="input" type="text" name="title" placeholder="Type choice A here" required/><br>

      <input type="radio" class="radio-btn" id="option-b" name="option" value="Option B">
      <input class="input" type="text" name="title" placeholder="Type choice B here" required/><br>

      <input type="radio" class="radio-btn" id="option-c" name="option" value="Option C"><input class="input" type="text"  name="title" placeholder="Type choice C here" required/><br>

      <input type="radio" class="radio-btn" id="option-d" name="option" value="Option D">
      <input class="input" type="text" name="title" placeholder="Type choice D here" required/><br>

      <button type="submit" class="create-btn btn-primary">Create</button>
      </form>
    </div>

    <script>
    const container = document.querySelector(".container");
    const createQuiz = document.getElementById("create-quiz");

    const createQuizCard = document.getElementById("add-quiz");
    const question = document.getElementById("question");

    createQuiz.addEventListener("click", () => {
      createQuizCard.classList.remove("hide")
    })
    </script>
  </body>
</html>
