<<<<<<< HEAD
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/results.css" />


    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/results.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:wght@300;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="container">
    <div class="results-cont">
      <div>Insert Result Here</div>
      <button id="retake">Retake Quiz</button>
      <button id="share">Share Results </button>
    </div>
    </div>

    <script>
      const container = document.querySelector(".container");
      const retakeQuiz = document.getElementById("retake");
      const shareQuiz = document.getElementById("share");

      retakeQuiz.addEventListener("click", () => {
        location.href = "https://google.com";
      });

      shareQuiz.addEventListener("click", () => {
        location.href = "results";
      });

    </script>
  </body>
</html>
>>>>>>> 1e67e10 (added retake quiz / share results)
