// See: https://sass-lang.com/

body,
html {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: #ffff;
  color: #222;
  text-align: center;
}

body {
  background-color: #f7f9fd;
}

.container {
  width: 90vw;
  max-width: 62.5em;
  position: relative;
  margin: auto;
}

.create-quiz-cont {
  display: flex;
  justify-content: flex-end;
  padding: 1.2em 1em;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.create-quiz-cont button {
  font-size: 1em;
  background-color: #587ef4;
  color: #ffffff;
  padding: 0.8em 1.2em;
  font-weight: 500;
  border-radius: 0.4em;
}

#quiz-cont {
  margin-top: 1em;
}

.quiz-cont {
  width: 90vw;
  max-width: 34em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -30%);
  top: 50%;
  left: 50%;
  padding: 3em 2em;
  border-radius: 0.6em;
  box-shadow: 0 1em 2em rgba(28, 0, 80, 0.1);
}

.quiz-cont h2 {
  font-size: 2.2em;
  color: #363d55;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: 11fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}

.error-con {
  align-self: center;
}

#error {
  color: #ff5353;
  font-weight: 400;
}

.fa-xmark {
  font-size: 1.4em;
  background-color: #587ef4;
  height: 1.8em;
  width: 1.8em;
  display: grid;
  place-items: center;
  color: #ffffff;
  border-radius: 50%;
  justify-self: flex-end;
}

label {
  color: #363d55;
  font-weight: 600;
  margin-bottom: 0.3em;
}

input {
  width: 100%;
  padding: 0.7em 0.5em;
  border: 1px solid #d0d0d0;
  outline: none;
  color: #414a67;
  border-radius: 0.3em;
  resize: none;
}

input:not(:last-child) {
  margin-bottom: 1.2em;
}

textarea {
  resize: none;
  width: 100%;
    padding: 0.7em 0.5em;
    border: 1px solid #d0d0d0;
    outline: none;
    color: #414a67;
    border-radius: 0.3em;
    resize: none;
}

input:focus {
  border-color: #363d55;
}

#create-btn btn-primary {
  font-size: 1em;
  background-color: #587ef4;
  color: #ffffff;
  padding: 0.6em 0;
  border-radius: 0.3em;
  font-weight: 600;
}

