body,
html {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: #ffff;
  color: #222;
  text-align: center;
}

.results-cont {
  width: 90vw;
  max-width: 62.5em;
  position: relative;
  margin: auto;
}


